vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Oct 2009 03:37:26 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|parque/evento/escoger_archivo.html parque/controlinterno/ingreso_seguimiento_auditoria.php parque/quejas/modificarqueja.php parque/quejas/consultar_numero_de_queja.php parque/planesmejoramiento/estadisticasfechaejecucion.php parque/controlinterno/estadisticas_historicas_observaciones.php parque/quejas/ingreso_quejas.php parque/quejas/modificar2.php parque/quejas/estadisticasfechaejecucion.php parque/quejas/consultar_numero.php parque/evento/reporte_evento.php parque/controlinterno/elegir_reporte.php parque/quejas/elegir_reporte.php parque/planesmejoramiento/elegirseguimiento.php parque/planesmejoramiento/mostrar_formulario_contraloria.php parque/quejas/cambio_quejas.php parque/quejas/consultar_queja.php parque/quejas/calificar1.php
vti_author:SR|paulam\\paula
vti_modifiedby:SR|METROPARQUES\\nmontoya
vti_timecreated:TR|18 Oct 2009 04:07:26 -0000
vti_cacheddtm:TX|18 Oct 2009 03:37:26 -0000
vti_filesize:IR|5933
vti_cachedlinkinfo:VX|S|menuarrow.gif
vti_cachedsvcrellinks:VX|NSUS|parque/quejas/styles/menuarrow.gif
